body{
    margin:0;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 1500px; */
}
.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}
.filter-container{
    display: flex;
    /* border-left: 2px solid black; */
    padding: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
input{
    width: 200px;
    border: none;
    outline: none;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    height: 30px;
}
#input-filter{
    width: 100px;
}
#input-search{
    margin-right: 100px;
}
select{
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    height: 25px;
}
#comparisonOperator{
    margin-right: 10px;
    margin-left: 10px;
}
button{
    border-radius: 10px;
    border:none;
    padding: 4px;
    color: white;
    height: 30px;
    width: 90px;
    background-color:#2C698D;
    cursor: pointer;
}
#search-button{
    margin-left: 100px;
}

button:hover{
    background-color: white;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));

    /* border:1px solid black ; */
    color: #235471;
    transition: transform 0.5s ease
}
.views-container{
    min-height: 1000px;
    width: 100%;
    background-color: #F6F8FA;
}
.plugins {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
}
.plugins select{
    margin-top: 2px;
    width: 140px;
}
.plugins-selector{
    justify-content: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.plugins > p{
    color:#FF0000;
    padding: 0px;
    margin: 0;
    margin-left: 15px;
}
.plugins {
    height: 70px;
}

.views-container{
    display: flex;
    flex-direction: row;
    min-height: 700px;
    width: 100%;
}

.views-container-left{
    width: 500px;
    flex: 3;
    background-color: #fff;
}

.views-container-right{
    background-color: white;
    width: max-content;
    flex: 10;
}

.views-container-left {
    /* Postavite maksimalnu visinu */
    max-height: 500px; /* Na primjer, postavite visinu na 300 piksela */

    /* Postavite širinu */
    width: 400px; /* Na primjer, postavite širinu na 200 piksela */

    /* Dodajte overflow kako biste omogućili scroll ako sadržaj prelazi granice */
    overflow: auto; /* Scroll će se pojaviti samo ako je potreban */

    /* Opciono: možete postaviti ostale stilove po potrebi */
}


.tree{
    --spacing : 1.5rem;
    --radius  : 10px;
  }

.tree li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree ul li{
    border-left : 2px solid #efefef;
}

.tree ul li:last-child{
    border-color : transparent;
}

.tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #efefef;
    border-width : 0 0 2px 2px;
}

.tree summary{
    display : block;
    cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
    display : none;
}

.tree summary:focus{
    outline : none;
}

.tree summary:focus-visible{
    outline : 1px dotted #efefef;
}

.tree li::after,
.tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius)) ;
    border-radius : 50%;
    background    : #efefef;
}

.tree summary::before{
    z-index    : 1;
    background : #235471 url('expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before{
    background-position : calc(-2 * var(--radius)) 0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Možete prilagoditi širinu po potrebi */
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popup-form label{
    padding-right: 30px;
}

#popup-form {
    text-align: center; /* Postavljanje svih elemenata forme na sredinu */
}

#popup-form h2 {
    margin: 0 auto; /* Postavljanje margin-left i margin-right na auto će centrirati naslov */
}

#popup-form button[type="submit"] {
    margin-top: 10px; /* Dodajte odgovarajući razmak iznad gumba */
}

#popupTitle {
    text-align: center;
}